In [2]:
myTuple = "Banana", 1, Grapes

NameError: name 'Grapes' is not defined

In [3]:
myTuple = "Banana", 1, "Grapes"
print(myTuple)

('Banana', 1, 'Grapes')

In [4]:
myTuple = ("Banana", 1, "Grapes")
print(myTuple)

('Banana', 1, 'Grapes')

In [5]:
myTuple = ()
print(myTuple)

()

In [6]:
myTuple = ("Banana")
print(type(myTuple))

<class 'str'>

In [7]:
myTuple = ("Banana",)
print(type(myTuple))

<class 'tuple'>

In [8]:
myTuple = tuple(["Banana", 28, "Guava"]
print(myTuple)

SyntaxError: '(' was never closed (1318962266.py, line 1)

In [9]:
myTuple = tuple(["Banana", 28, "Guava"])
print(myTuple)

('Banana', 28, 'Guava')

In [10]:
item = tuple(0)
print(item)

TypeError: 'int' object is not iterable

In [11]:
item = tuple[0]
print(item)

tuple[0]

In [12]:
item = myTuple[0]
print(item)

Banana

In [13]:
item = tuple[0]
print(item)

tuple[3]

In [14]:
item = myTuple[3]
print(item)

IndexError: tuple index out of range

In [15]:
item = myTuple[-1]
print(item)

Guava

In [16]:
myTuple[0] = "Grapes"

TypeError: 'tuple' object does not support item assignment

for i in myTuple:
    print(i)

In [17]:
print(myTuple)

('Banana', 28, 'Guava')

In [18]:
for i in myTuple:
    print(i)

Banana
28
Guava

In [19]:
if "Banana" in myTuple:
    print("Yes)

SyntaxError: unterminated string literal (detected at line 2) (1354633179.py, line 2)

In [20]:
if "Banana" in myTuple:
    print("Yes")

Yes

In [21]:
if "banana" in myTuple:
    print("Yes")
else:
    print("No")

No

In [22]:
print(len(myTuple))

3

In [23]:
print(myTuple.count("Banana"))

1

In [24]:
print(myTuple.count("banana"))

0

In [25]:
print(myTuple.index("Banana"))

0

In [26]:
print(myTuple.count("banana"))

0

In [27]:
print(myTuple.index("Banana"))

0

In [28]:
print(myTuple.index("banana"))

ValueError: tuple.index(x): x not in tuple

In [29]:
myList = tuple(myTuple)
print(myList)

('Banana', 28, 'Guava')

In [30]:
myList = list(myTuple)
print(myList)

['Banana', 28, 'Guava']

In [31]:
slicing = myTuple[1:5]
print(slicing)

(28, 'Guava')

In [32]:
slicing = myTuple[:]
print(slicing)

('Banana', 28, 'Guava')

In [33]:
slicing = myTuple[::-1]
print(slicing)

('Guava', 28, 'Banana')

In [34]:
slicing = myTuple[1::-1]
print(slicing)

(28, 'Banana')

In [35]:
slicing = myTuple[1::]
print(slicing)

(28, 'Guava')

In [36]:
slicing = myTuple[::1]
print(slicing)

('Banana', 28, 'Guava')

In [37]:
slicing = myTuple[::2]
print(slicing)

('Banana', 'Guava')

In [38]:
myTuple = "Radhika", 21. "Prayagraj"
name, age, city = myTuple
print(name)
print(age)
print(city)

SyntaxError: invalid syntax (159750280.py, line 1)

In [39]:
myTuple = "Radhika", 21, "Prayagraj"
name, age, city = myTuple
print(name)
print(age)
print(city)

Radhika
21
Prayagraj

In [40]:
myTuple = "Radhika", 21. "Prayagraj"
name, city, age = myTuple
print(name)
print(age)
print(city)

SyntaxError: invalid syntax (2510638250.py, line 1)

In [41]:
myTuple = "Radhika", 21, "Prayagraj"
name, city, age = myTuple
print(name)
print(age)
print(city)

Radhika
Prayagraj
21

In [42]:
myTuple = (1, 2, 3, 4, 5, 6)
i1, *i2, i3 = myTuple
print(i1)
print(i2)
print(i3)

1
[2, 3, 4, 5]
6

In [43]:
import sys
myList = [1, 2, 3, "Hello", True]
myTuple = (1, 2, 3, "Hello", True)
print(sys.getsizeof(myList), "bytes")
print(sys.getsizeof(myTuple), "bytes")

120 bytes
80 bytes

In [44]:
import timeit
print(timeit.timeit(stmt = "[1, 2, 3, 4, 5]", number = 100000)
print(timeit.timeit(stmt = "(1, 2, 3, 4, 5)", number = 100000)

SyntaxError: '(' was never closed (2615246522.py, line 3)

In [45]:
import timeit
print(timeit.timeit(stmt = "[1, 2, 3, 4, 5]", number = 100000))
print(timeit.timeit(stmt = "(1, 2, 3, 4, 5)", number = 100000))

0.018330699997022748
0.007449000026099384